{% extends "base.html" %}
{% load static %}

<!-- CSS Links -->
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% block content %}

<h1>
    Hi {{ myprofile.user }}, you are a {{ myprofile.role }}!
</h1>

<!-- Selects resources that match user level -->
{% for r in resources %}
    {% if r.level <= myprofile.level %}
    <!-- Card example -->
    <div class="card" style="width: 18rem; background-color: black;">
        <div class="card-body">
            <p>
               Article: {{ r.name }}
            </p>
            <!-- Form for article access -->
            <form method="POST" action="{{ r.link }}" target="_blank">
                {% csrf_token %}
                <button class="btn btn-info" name="accessbtn">Open Article</button>
            </form>
        </div>
    </div>
    {% else %}
    <!-- All other resources -->
    <div class="card" style="width: 18rem; background-color: red;">
        <div class="card-body">
            <p>
               Article: {{ r.name }}
            </p>
            <!-- Form for article access -->
            <form method="POST" action="{{ r.link }}" target="_blank">
                {% csrf_token %}
                <button class="btn btn-info" name="accessbtn">Open Article</button>
            </form>
        </div>
    </div>
    {% endif %}
{% endfor %}

{{ progress }}

{% endblock %}