{% extends "base.html" %}
{% load static %}

<!-- CSS Links -->
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% block content %}

<!-- INTRO SECTION -->
<section>
    <div class="container">
        <div class="row">
            <div id="intro-container" class="col-md-7 text-center">
                <div id="intro-overlay">
                    <h2 id="intro-heading">Who We Are</h2>
                    <br>
                    <p class="intro-text">
                        At My Code Journey we want to empower women from all walks and stages of life to get started with code!
                    </p>
                    <br>
                    <p class="intro-text">
                        The start of any journey is often the hardest part, so it's our aim to help you, whoever you may be, to get over that first hurdle.
                    </p>
                    <p class="intro-text">
                        Getting started couldn't be simpler. We just have <strong>ONE</strong> question for you...
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <img id="hero-image" src="{% static 'images/developers.png' %}" alt="">
            </div>
        </div>
    </div>
</section>

<!-- WHO SECTION -->
<section id="who-section">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1 id="who-heading" class="text-center">Who Are You?</h1>
                <ul class="who-list">
                    <li class="who-list-option">
                        <span><p><i class="fa-regular fa-circle"></i> I'm still in school, and I want to learn how to code!</p></span>
                    </li>
                    <li class="who-list-option">
                        <span><p><i class="fa-regular fa-circle"></i> I'm in college and have already started to learn how to code!</p></span>
                    </li>
                    <li class="who-list-option">
                        <span><p><i class="fa-regular fa-circle"></i> I'm working already, but I think I might like to change to a career in coding!</p></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}