.auth-heading {
    text-align: center;
    font-size: 3rem;
    font-family: "Comfortaa";
    color: grey;
    margin-top: 125px;
}

.auth-container {
    margin-top: 25px;
    font-size: 1.5rem;
    font-family: "Comfortaa";
    color: grey;
    border: rgb(255, 255, 255) solid 3px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 150px;
  }
.auth-logout-container {
    margin-top: 25px;
    font-size: 1.5rem;
    font-family: "Comfortaa";
    color: grey;
    border: rgb(255, 255, 255) solid 3px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 250px;
  }

.auth-text {
    margin-top: 25px;
    text-align: center;
    font-size: 2rem;
}
.auth-form {
    padding-top: 50px;
    text-align: left;
    margin-right: 25%;
}

.auth-form p {
    margin-right: 0;
}

.auth-form p label{
    text-align: left;
    margin-left: 17%;
    display: none;
}

.auth-form p input{
  margin-top: 10px;
  margin-left: 17%;
  width: 100%;
  border: solid 4px white;
  border-radius: 10px;
}

.auth-logout-form {
    padding-top: 25px;
    text-align: right;
    margin-right: 25%;
    margin-bottom: 0px;
}

.auth-button-container {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 25px;
    margin-left: 33%;
}

.auth-logout-button-container {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
    margin-left: 33%;
}

.auth-button {
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  display: inline-flex;
  font-family: "Comfortaa",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 25px;
  align-items: center;
}

.auth-button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.auth-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.auth-button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/* ---- Media Queries ---- */

@media only screen and (max-width: 768px) {
  .auth-container {
    margin-top: 25px;
    font-size: 0.8rem;
    font-family: "Comfortaa";
    color: rgba(0, 0, 0, 0.7);
    border: rgb(255, 255, 255) solid 3px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 150px;
  }

  .auth-button {
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    display: inline-flex;
    font-family: "Comfortaa",monospace;
    height: 40px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 15px;
    align-items: center;
  }
}