{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}


{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">


<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h1 class="auth-heading">Log In</h1>
      <div class="auth-container">      
        {% get_providers as socialaccount_providers %}
        
        
        <form class="login auth-form" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input class="auth-input" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="auth-button-container">
            <button class="primaryAction auth-button" type="submit">{% trans "Log In" %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



{% endblock %}
